body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.block{
  width: 80%;
  padding: 3rem;
  background-color: rgb(232, 232, 232);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.note{
  width:13rem;
  min-height: 13rem;
  padding: 1.5rem;
  border-radius: 1px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .32);
  vertical-align:text-top;
  display:inline-block;
  box-sizing: border-box;

}
.note1{
    background-color:rgb(253, 255, 141);
}
.note2{
    background-color:rgb(251, 208, 125);
}
.note3{
    background-color:rgb(253, 137, 128);
}
.note4{
    background-color:rgb(128, 216, 255);
}
h1{
  font-size: 2em;
  font-weight: bold;
  margin: 0rem;
}
p{
  margin-top: .4rem;
}
