body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.block{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #4516c5;
  color: white;
  font-size: 2rem;
  z-index: 1;
  padding: 1.4rem;
  position:fixed;
  top:0px;
  margin-bottom: 0rem;
}
.object{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 7rem auto;
  box-sizing: border-box;
}

h1{
  font-size: 2.7rem;
  font-weight: bold;
  margin-left: .7rem;
  margin-bottom: 0rem;
  box-sizing: border-box;
}
.text{
  margin-top: 1rem;
  margin-left: 3rem;
}

.data{
  font-size: 1rem;
  padding: .5rem;
  border-radius: .3rem;
  background-color:#ddd;
  display: inline-block;
  text-align:center;
  line-height: 1.5rem;
  box-sizing: border-box;
}
